Repository DarkMessiah27/2.PzD-Mission-Template, pull requests merged in 2021-12, with the labels that each got.

#31 US42/44 De-randomisation
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUS42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUS44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSMC42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSMC44.sqf
Labels: v3.0 Phase 2, gear definitions, loadouts, compositions

#32 Dynamic parachute assignment for Fallschirmjäger
  compositions/!2PzD_US_42/composition.sqe
  missions/2PzD_Template_v3_0.VR/customization/gearLoadouts.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerLuft.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearFSJ40.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearFSJ44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearFSJP40.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearFSJP44Jul.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Japanese/gearJpn42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Japanese/gearJpn44.sqf
Labels: enhancement, v3.0 Phase 2, gear definitions, loadouts, compositions

#34 De-Randomizing USAB + Russian vehicle loadouts
  compositions/!2PzD_USAB_42/composition.sqe
  compositions/!2PzD_USAB_44/composition.sqe
  missions/2PzD_Template_v3_0.VR/customization/gearLoadouts.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/Generic/vehGearGEN.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/Russian/vehGearRUS.sqf
Labels: v3.0 Phase 2, loadouts, compositions

#33 US rework
  missions/2PzD_Template_v3_0.VR/customization/gearLoadouts.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUS.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSAfrica.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSAirborne.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSMC.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSRanger.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSRegular.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSWinter.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUS42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUS44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSMC42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSMC44.sqf
Labels: v3.0 Phase 1, Refactor, gear definitions, loadouts

#40 Add dynamic parachute assignment to USAB
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerLuft.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUS.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSAfrica.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSAirborne.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSRegular.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSWinter.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB44.sqf
Labels: gear definitions, loadouts

#41 Removed LEN weapons
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUKWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Russian/gearDefRusWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Russian/gearRus44.sqf
Labels: obsolete, loadouts

#43 Derandomisation Wehrmacht
  compositions/!2PzD_WHR_44/composition.sqe
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR39.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR40.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR44.sqf
  missions/2PzD_Template_v3_0.VR/mission.sqm
Labels: v3.0 Phase 2, loadouts, compositions

#42 Remove FoW Dependencies from Loadouts
  compositions/!2PzD_UK_40/composition.sqe
  compositions/!2PzD_UK_40/header.sqe
  compositions/!2PzD_UK_44/composition.sqe
  compositions/!2PzD_UK_44/header.sqe
  compositions/!2PzD_USMC_42/composition.sqe
  compositions/!2PzD_USMC_42/header.sqe
  compositions/!2PzD_USMC_44/composition.sqe
  compositions/!2PzD_USMC_44/header.sqe
  missions/2PzD_Template_v3_0.VR/customization/gearLoadouts.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUK.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUKAfrica.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUKPara.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUKRegular.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUKWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/British/gearDefUKWinter.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Generic/gearDefGEN.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUS.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSAfrica.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSAirborne.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSMC.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSRegular.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/US/gearDefUSWinter.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/British/gearUK40.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/British/gearUK44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUS42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUS44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSAB44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSMC42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/US/gearUSMC44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/Generic/vehGearGEN.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/German/vehGearWHR.sqf
Labels: obsolete, gear definitions, loadouts, compositions

#52 Remove Japanese
  compositions/!2PzD_Jpn_42/composition.sqe
  compositions/!2PzD_Jpn_42/header.sqe
  compositions/!2PzD_Jpn_44/composition.sqe
  compositions/!2PzD_Jpn_44/header.sqe
  missions/2PzD_Template_v3_0.VR/customization/briefing.sqf
  missions/2PzD_Template_v3_0.VR/customization/gearLoadouts.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Japanese/gearDefJapUniforms.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Japanese/gearDefJapWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Japanese/gearJpn42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Japanese/gearJpn44.sqf
Labels: obsolete, gear definitions, loadouts, compositions

#53 Geardef Changes/removals
  missions/2PzD_Template_v3_0.VR/customization/gearLoadouts.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefAus.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefBel.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefCdn.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefCiv.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefCzech.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefFrn.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefNed.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefNor.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefParti.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/gearDefPol.sqf
Labels: gear definitions

#55 Remove FoW and _2pzd from Germany
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGer.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerLuft.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerRegular.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerWinter.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearFSJ40.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearFSJ44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR39.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR40.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR42.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/German/gearWHR44.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/German/vehGearFSJ.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/German/vehGearWHR.sqf
Labels: gear definitions, loadouts

#56 Wrong names
  missions/2PzD_Template_v3_0.VR/customization/briefing.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/German/vehGearFSJ.sqf
Labels: documentation

#59 Update vehGearWHR.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadoutsVeh/German/vehGearWHR.sqf
Labels: obsolete, loadouts

#54 Remove FOW from Russian Loadouts
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Russian/gearDefRus.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Russian/gearDefRusRegular.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Russian/gearDefRusWeapons.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/Russian/gearDefRusWinter.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Russian/gearRus41.sqf
  missions/2PzD_Template_v3_0.VR/customization/loadouts/Russian/gearRus44.sqf
Labels: gear definitions

#61 Clean up of remaining FoW classnames
  missions/2PzD_Template_v3_0.VR/core/functions/fnc_removeAllGear.sqf
  missions/2PzD_Template_v3_0.VR/customization/geardefs/German/gearDefGerAfrica.sqf
  missions/2PzD_Template_v3_0.VR/modules/magazine_conversion/functions/FNC_MagazineConversion_CreateChildActions.sqf
Labels: obsolete, gear definitions

#62 Update README.md
  README.md
Labels: documentation

#66 Lots of refactoring and clean-up
  compositions/!2PzD_!Essentials/composition.sqe
  compositions/!2PzD_!Essentials/header.sqe
  missions/2PzD_Template.VR/core/description.hpp
  missions/2PzD_Template.VR/core/functions/fnc_removeAllGear.sqf
  missions/2PzD_Template.VR/customization/core/gearCore.sqf
  missions/2PzD_Template.VR/customization/core/vehGearCore.sqf
  missions/2PzD_Template.VR/customization/geardefs.sqf
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusWeapons.sqf
  missions/2PzD_Template.VR/customization/loadoutSettings.sqf
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Civilian/loadoutCiv.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutFSJ40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutFSJ44.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR39.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR42.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB44.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Generic/vehLoadoutGEN.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/German/vehGearWHR.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/German/vehLoadoutFSJ.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/German/vehLoadoutWHR.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Russian/vehGearRUS.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Russian/vehLoadoutRUS.sqf
  missions/2PzD_Template.VR/customization/vehicleGearSettings.sqf
  missions/2PzD_Template.VR/mission.sqm
Labels: bug, obsolete, Refactor, gear definitions, loadouts, compositions

#64 Update README.md
  README.md
Labels: documentation

#67 Update vehLoadoutRUS.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Russian/vehLoadoutRUS.sqf
Labels: gear definitions

#68 Added VehLoadout for the British and US
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/British/VehLoadoutUK.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/German/vehLoadoutWHR.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/US/vehLoadoutUS.sqf
Labels: gear definitions, loadouts

#69 Uk Fixes
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/British/VehLoadoutUK.sqf
Labels: gear definitions, loadouts

#70 Obsolete Documentation - vehLoadouts
  missions/2PzD_Template.VR/customization/loadoutsVeh/British/VehLoadoutUK.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/German/vehLoadoutFSJ.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/German/vehLoadoutWHR.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Russian/vehLoadoutRUS.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/US/vehLoadoutUS.sqf
Labels: documentation, obsolete

#71 changes to Radios in all loadouts
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefGEN.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR39.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR42.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB44.sqf
Labels: bug, gear definitions, loadouts

#72 Fix Composition categories
  compositions/!2PzD_!Essentials/header.sqe
  compositions/!2PzD_FSJ_40/header.sqe
  compositions/!2PzD_FSJ_44/header.sqe
  compositions/!2PzD_Rus_41/header.sqe
  compositions/!2PzD_Rus_44/header.sqe
  compositions/!2PzD_UK_40/header.sqe
  compositions/!2PzD_UK_44/header.sqe
  compositions/!2PzD_USAB_42/header.sqe
  compositions/!2PzD_USAB_44/header.sqe
  compositions/!2PzD_US_42/header.sqe
  compositions/!2PzD_US_44/header.sqe
  compositions/!2PzD_WHR_39/header.sqe
  compositions/!2PzD_WHR_40/header.sqe
  compositions/!2PzD_WHR_42/header.sqe
  compositions/!2PzD_WHR_44/header.sqe
Labels: bug, compositions

#73 Loadout/Composition/GearDefine changes
  compositions/!2PzD_UK_40/composition.sqe
  compositions/!2PzD_UK_44/composition.sqe
  compositions/!2PzD_US_42/composition.sqe
  compositions/!2PzD_US_44/composition.sqe
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusWeapons.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS44.sqf
Labels: obsolete, gear definitions, loadouts, compositions

#76 Added Norway 1940 Loadout and composition
  compositions/!2PzD_NOR_40/composition.sqe
  compositions/!2PzD_NOR_40/header.sqe
  missions/2PzD_Template.VR/customization/geardefs/gearDefNor.sqf
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts/Norwegian/LoadoutNOR40.sqf
Labels: gear definitions, loadouts, compositions
