Repository DarkMessiah27/2.PzD-Mission-Template, pull requests merged in 2022-04, with the labels that each got.

#115 Updated vehichleloadout load order
  missions/2PzD_Template.VR/customization/loadouts.sqf
Labels: bug

#117 Remove Zeus from supporting fires module
  missions/2PzD_Template.VR/modules/supporting_fires/actions.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/actions/AdjustFire.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/actions/AmmoType.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/actions/Targets.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/actions/VolumeOfFire.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/functions/FNC_SupportFire_AmmoCheck.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/functions/FNC_SupportFire_FireMission.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/functions/FNC_SupportFire_GetTargetLocation.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/init.sqf
  missions/2PzD_Template.VR/modules/supporting_fires/settings.sqf
Labels: bug

#118 Increased Saline supplies
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutGEN.sqf
Labels: gear definitions, loadouts

#119 Oops
  missions/2PzD_Template.VR/modules/supporting_fires/settings.sqf
Labels: bug

#121 Added British 1985 loadouts and various minor fixes
  .gitignore
  compositions/!2PzD_!Essentials/composition.sqe
  compositions/!2PzD_!Essentials/header.sqe
  compositions/!2PzD_UK_85/composition.sqe
  compositions/!2PzD_UK_85/header.sqe
  missions/2PzD_Template.VR/Logo.jpg
  missions/2PzD_Template.VR/customization/geardefs.sqf
  missions/2PzD_Template.VR/customization/geardefs/British_ColdWar/gearDefUKCW.sqf
  missions/2PzD_Template.VR/customization/geardefs/British_ColdWar/gearDefUKCWWeapons.sqf
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/British_ColdWar/loadoutUK85.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutGEN.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutUKColdWar.sqf
  missions/2PzD_Template.VR/mission.sqm
Labels: bug, gear definitions, loadouts

#122 Updated Version.txt
  missions/2PzD_Template.VR/Version.txt
Labels: documentation

#125 Removes Finnish AT rifle
  missions/2PzD_Template.VR/customization/geardefs/Finnish/gearDefFin.sqf
  missions/2PzD_Template.VR/customization/geardefs/Finnish/gearDefFinWeapons.sqf
  missions/2PzD_Template.VR/customization/loadouts/Finnish/loadoutFin39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Finnish/loadoutFin41.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutFIN.sqf
Labels: gear definitions

#127 Added short range radios to UK85 loadout
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefGEN.sqf
  missions/2PzD_Template.VR/customization/loadouts/British_ColdWar/loadoutUK85.sqf
Labels: gear definitions, loadouts
