Repository DarkMessiah27/2.PzD-Mission-Template, pull requests merged in 2022-01, with the labels that each got.

#78 Composition changes and loadout changes
  compositions/!2PzD_FSJ_40/composition.sqe
  compositions/!2PzD_FSJ_44/composition.sqe
  compositions/!2PzD_Rus_41/composition.sqe
  compositions/!2PzD_Rus_44/composition.sqe
  compositions/!2PzD_UK_40/composition.sqe
  compositions/!2PzD_UK_44/composition.sqe
  compositions/!2PzD_USAB_42/composition.sqe
  compositions/!2PzD_USAB_44/composition.sqe
  compositions/!2PzD_US_42/composition.sqe
  compositions/!2PzD_US_44/composition.sqe
  compositions/!2PzD_WHR_39/composition.sqe
  compositions/!2PzD_WHR_40/composition.sqe
  compositions/!2PzD_WHR_42/composition.sqe
  compositions/!2PzD_WHR_44/composition.sqe
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutFSJ40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutFSJ44.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR39.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR42.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB44.sqf
Labels: gear definitions, loadouts, compositions

#81 Fix for FSJ Backpack issue
  missions/2PzD_Template.VR/customization/geardefs/German/gearDefGerLuft.sqf
Labels: gear definitions

#82 Bino changes
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutFSJ44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Norwegian/LoadoutNOR40.sqf
Labels: gear definitions, loadouts

#83 Finnish geardef and 1939/1941 loadouts
  compositions/!2PzD_Fin_39/composition.sqe
  compositions/!2PzD_Fin_39/header.sqe
  compositions/!2PzD_Fin_41/composition.sqe
  compositions/!2PzD_Fin_41/header.sqe
  missions/2PzD_Template.VR/customization/geardefs.sqf
  missions/2PzD_Template.VR/customization/geardefs/Finnish/gearDefFin.sqf
  missions/2PzD_Template.VR/customization/geardefs/Finnish/gearDefFinRegular.sqf
  missions/2PzD_Template.VR/customization/geardefs/Finnish/gearDefFinWeapons.sqf
  missions/2PzD_Template.VR/customization/geardefs/Finnish/gearDefFinWinter.sqf
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusWeapons.sqf
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts/Finnish/loadoutFin39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Finnish/loadoutFin41.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Finnish/vehLoadoutFIN.sqf
Labels: gear definitions, loadouts, compositions

#86 Changes NOR to Nor for Norwegians
  compositions/!2PzD_NOR_40/composition.sqe
  compositions/!2PzD_NOR_40/header.sqe
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts/Norwegian/LoadoutNOR40.sqf
Labels: gear definitions, loadouts

#88 Standardized SWT leader requipment
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/geardefs/gearDefNor.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Finnish/loadoutFin39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Finnish/loadoutFin41.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR39.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR42.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR44.sqf
  missions/2PzD_Template.VR/customization/loadouts/Norwegian/LoadoutNOR40.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUS44.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB42.sqf
  missions/2PzD_Template.VR/customization/loadouts/US/loadoutUSAB44.sqf
Labels: loadouts

#92 Created vehLoadoutNOR.sqf and Changed loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Norwegian/vehLoadoutNOR.sqf
Labels: loadouts

#94 Changes to Russian loadouts and geardefs
  compositions/!2PzD_Nor_40/composition.sqe
  compositions/!2PzD_Nor_40/header.sqe
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusRegular.sqf
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusWinter.sqf
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadouts/Norwegian/LoadoutNor40.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Norwegian/vehLoadoutNor.sqf
Labels: gear definitions, loadouts, compositions

#95 Change in mapMarkerPrevention in line with mod changes
  missions/2PzD_Template.VR/scripts/mapMarkerPrevention.sqf
Labels: enhancement

#96 Added painkillers to medical loadouts
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefGEN.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/Generic/vehLoadoutGEN.sqf
Labels: gear definitions, loadouts

#97 Norwegian Loadout/Compositon and Geardef changes
  compositions/!2PzD_Nor_40/composition.sqe
  missions/2PzD_Template.VR/customization/geardefs.sqf
  missions/2PzD_Template.VR/customization/geardefs/Norwegian/gearDefNor.sqf
  missions/2PzD_Template.VR/customization/geardefs/Norwegian/gearDefNorRegular.sqf
  missions/2PzD_Template.VR/customization/geardefs/Norwegian/gearDefNorWeapons.sqf
  missions/2PzD_Template.VR/customization/geardefs/Norwegian/gearDefNorWinter.sqf
  missions/2PzD_Template.VR/customization/geardefs/gearDefNor.sqf
  missions/2PzD_Template.VR/customization/loadouts/Norwegian/LoadoutNor40.sqf
Labels: gear definitions, loadouts, compositions

#100 Restructure vehicle loadouts folder
  missions/2PzD_Template.VR/customization/loadouts.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutFIN.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutFSJ.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutGEN.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutNor.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutRUS.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutUK.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutUS.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutWHR.sqf
Labels: Refactor, loadouts, low priority

#102 Russian tank uniform changes
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRus.sqf
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusRegular.sqf
  missions/2PzD_Template.VR/customization/geardefs/Russian/gearDefRusWinter.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
Labels: gear definitions, loadouts

#104 Removed Unused Call
  missions/2PzD_Template.VR/init.sqf
Labels: obsolete

#106 Breaks loadout
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
Labels: loadouts, high priority

#108 My Ocd took over and i had to move the tank slots
  compositions/!2PzD_UK_40/composition.sqe
Labels: compositions

#107 CBA settings edit permissions
  missions/2PzD_Template.VR/core/description.hpp
Labels: enhancement

#109 Molotovs for the Russians
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutRUS.sqf
Labels: loadouts

#110 Tweaks to the Russian loadouts
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus39.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus41.sqf
  missions/2PzD_Template.VR/customization/loadouts/Russian/loadoutRus44.sqf
  missions/2PzD_Template.VR/customization/loadoutsVeh/vehLoadoutRUS.sqf
Labels: loadouts

#111 Removed Drinking
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefEquipmentSets.sqf
  missions/2PzD_Template.VR/customization/geardefs/Generic/gearDefGEN.sqf
  missions/2PzD_Template.VR/modules/modules.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/actions.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/functions.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/functions/FNC_StaminaBoost_Drink_Water.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/functions/FNC_StaminaBoost_Eat_Food.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/functions/FNC_StaminaBoost_RaiseStamina.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/init.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/root.sqf
  missions/2PzD_Template.VR/modules/stamina_boost/settings.sqf
Labels: obsolete, gear definitions, loadouts

#113 Loadout Changes for SWT
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK40.sqf
  missions/2PzD_Template.VR/customization/loadouts/British/loadoutUK44.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR39.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR40.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR42.sqf
  missions/2PzD_Template.VR/customization/loadouts/German/loadoutWHR44.sqf
Labels: loadouts
